.ruff_cache

# Virtual environment
venv/
.venv/
env/
.env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# Miscellaneous
*.log
.DS_Store
